.Button1 {
    display: flex;
    justify-content: flex-end;
    margin-top: -22px;
    margin-right: 220px;
}

.Button2 {
    display: flex;
    justify-content: flex-end;
    margin-top: -22px;
    margin-right: 125px;
}

.Button-text {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: -0.346154px;
    color: #111111;
    text-decoration: none;
}