body {
    margin: 0;
    display: flex;
    width: 100%;
}

.Logo {
    display: flex;
    margin-left: 90px;
    margin-top: 30px;
}

.Title {
    display: flex;
    margin-left: 90px;
    margin-top: 96px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    letter-spacing: -0.423077px;
    color: #4A4FF2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Main-info {
    display: flex;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* or 150% */
    color: #111111;
    margin-left: 90px;
}

.Quote {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-top: -75px;
}

.Image-1 {
    display: flex;
    margin-top: 144px;
    margin-left: 90px;
}

.Part-2 {
    display: flex;
}

.Info-2 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    /* or 136% */
    color: #111111;
    margin-top: 80px;
    margin-left: 90px;
}

.Service1 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 4px;
    /* identical to box height */
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
    display: flex;
}

.Service2 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 4px;
    /* identical to box height */
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
    display: flex;

}

.Column-1 {
    display: flex;
    flex-direction: column;
    margin-left: 94px;
    margin-top: 70px;
}

.Column-2 {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 70px;
}

.Part-3 {
    display: flex;
    justify-content: flex-start;
}

.Part-3-title {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    color: #111111;
    margin-top: 150px;
    margin-left: 90px;
}

.Box-1 {
    display: flex;
    flex-direction: row;
}

.Part-3-title2 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    color: #111111;
    margin-left: 350px;
    margin-top: 150px;
}

.Box-2 {
    display: flex;
    justify-content: flex-start;
}

.Part-3-title3 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    color: #111111;
    display: block;
    margin-top: 400px;
    margin-left: -130px;
}

.Part-3-title4 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #111111;
}

.Part-3-title5 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #111111;
}

.Part-3-info {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.Box-3 {
    display: flex;
    flex-direction: column;
    margin-top: 137px;
    margin-left: 130px;
}

.Box-4 {
    display: flex;
    flex-direction: column;
    margin-top: 386px;
    margin-left: -11.4rem;
}

.Year-box {
    display: flex;
}

.Year-box2 {
    display: flex;
    margin-top: 384px;
    margin-left: -33px;
}

.Year1 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: right;
    color: #111111;
    margin-top: 151px;
    margin-left: 120px;
}

.Year2 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: right;
    color: #111111;
}

.Part-4 {
    display: flex;
}

.Box-5 {
    display: flex;
    margin-left: -80px;
}

.Box-6 {
    display: flex;
}

.Box-7 {
    display: flex;
    margin-top: 136px;
    margin-left: 130px;
    flex-direction: column;
}

.Box-8 {
    display: flex;
    flex-direction: column;
    margin-top: 387px;
    margin-left: -185px;
}

.Year-box3 {
    display: flex;
    margin-left: 9px;
}

.Year-box4 {
    display: flex;
    margin-top: 387px;
    margin-left: -40px;
}

.Footer {
    display: flex;
    margin-top: 200px;
    margin-left: 90px;
    margin-bottom: 20px;
}